
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}

.title_1 {
    width: 100%;
    position: absolute;
    top: 150px;
}

.title_1 h1{
    text-align: center;
    color: #02316d;
    font-size: 65px;
}

.area{
    background: rgba(255, 255, 255, 0.2);
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}


@media only screen and (max-width : 480px){

  body{
    margin:0;
    padding:0;
    min-height: 100vh;
    min-width: 100%;
    overflow-x:hidden;
  }
  .logo{
   margin-left:0;
   margin-top: 5px;
    width: 150px;
   height: auto;
}

.title_1 h1{
  font-size: 35px;
  margin-top: -10%;
  margin-left: 5%; 
}

  .select{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top:-135%;
  }

  .select_comerciales{
    width: 100%;
    position: absolute;
    top:110%;
    margin-top: 20px;
  }

  .text{
    text-align: center;
    color: #02316d;
    font-size: 35px;
}

   .buttons{
       margin-top: 9px;
       color: black; 
       padding: 7px 14px; 
       cursor: pointer; 
       border-radius: 5px; 
       background-color: white; 
       border: 1px solid #007bff;
       font-size: 25px;
       margin-left: 15px;
     }
   
   .buttons:hover{
       transform: scale(1.2);
       box-shadow: inset 0 0 0 50px #007bff98;
   }

   .ADFII{
    display: none;
   }
   .ADFII_movile{
    width: 100%;
    height: 100%;
   }
     .container_fadf {
      display: grid;
      grid-template-areas:
      "description img";
      grid-template-columns: 0.3fr 0.5fr;
      grid-gap: 20px;
      justify-content: center;
      align-items:center;
      margin-top: 10%;
     }
   .description_footeradf{
         font-size: 12px;
         color:#fffffff8;
         text-align: center;
         justify-content: center;
         margin-top: 5px;
         margin-left: 20px;
     }
   .footer_iconadf{
     display: inline-flex;
     width: 30px;
   }
   .footer_1adf{
     width: 140%;
     margin-left: -20px;
   }
   .footeradf{
     background-color: #02316d;
   }
   .footer_textadf{
     text-decoration: none;
     color: #fffdfd;
   }
   
  .plano_container_barrios{
      width: 100%;
      height: 100%;
      border: none;
      margin-top: -90%;
    }
     .description{
       font-size: 12px;
       color:#858585;
       text-align:left;
      justify-content: center;
      align-items: center;
      margin-left: -50px;
     }     
     .DESKTOP{
      display: none;
    }
    .valores_desktop{
      display: none;
    }
 /*SAKURA*/ 
      .container_sakura{
       display: grid;
       grid-template-areas:
       "description img";
       grid-template-columns: 1fr 0.3fr;
      justify-content: center;
       align-items: center;
      }
      .listado_sakura_mobile{
          margin-top: 5px;
          width: 60vh;
          height: 155vh;
         }
/*EL CRUCE DEL PILAR*/
     .container_cruce{
      display: grid;
      grid-template-areas:
      "description img";
      grid-template-columns: 1fr 0.3fr;
     justify-content: center;
      align-items: center;
     }
     .listado_cruce_mobile{
         margin-top: 25px;
         width: 60vh;
         height: 100vh;
        }
/*EL CRUCE DEL PILAR*/
 .listado_crucemobilecomerciales{
     margin-top: 25px;
     width: 60vh;
     height: 85vh;
    }
/*SANTA MARIA I*/
.container_sm{
  display: grid;
  grid-template-areas:
  "description img";
  grid-template-columns: 1fr 0.3fr;
 justify-content: center;
  align-items: center;
 }
 .listado_smmobile{
     margin-top: 25px;
     width: 60vh;
     height: 100vh;
    }
/*SANTA MARIA I COMERCIALES*/
.listado_mobilesmc{
     margin-top: 25px;
     width: 60vh;
     height: 80vh;
    }






   }  

 @media only screen and (min-width: 768px) {
      .title h1{
        display: none;
      }
      .select{
       width: 100%;
       position: absolute;
       top: 250px;
       margin-left: 50px;
      }
      .logo{
           align-items: center;
           margin-left: 5;  
      }
      .buttons{
          margin-top: 15px;
          margin-left: -15px;
          border: none; 
          color: black; 
          padding: 14px 28px; 
          cursor: pointer; 
          border-radius: 5px; 
          background-color: white; 
          border: 2px solid #007bff;
          font-size: 15px;
      }
      
      .buttons:hover{
          transform: scale(1.2);
          box-shadow: inset 0 0 0 50px #007bff98;
      }
      

 
      }
@media only screen and (min-width: 1200px) {

      body{
        margin:0;
        padding:0;
        min-height: 100vh;
        min-width: 100%;
       overflow-x:hidden;
      }
    
      .title_2 h1{
        display: none;
      }
    
      .logo{
        align-items: center;
        margin:auto; 
    }
      .select{
        width: 100%;
        text-align: center;
        margin: auto;
        background-color:transparent;
        justify-content: center;
        align-items: center;
        margin-top:-45px
      }
    
      .select_comerciales{
        width: 100%;
        background-color:transparent;
        justify-content: center;
        align-items: center;
        display: block;
        margin-top: 50px;
      }
    
      .text{
        text-align: center;
        color: #02316d;
        font-size: 65px;
    }
    
       .buttons{
           margin-top: 15px;
           margin-left: -15px;
           border: none; 
           color: black; 
           padding: 14px 28px; 
           cursor: pointer; 
           border-radius: 5px; 
           background-color: white; 
           border: 2px solid #007bff;
           font-size: 35px;
           box-shadow: inset 0 0 0 0 #007bff98;
           -webkit-transition: ease-out 0.4s;
           -moz-transition: ease-out 0.4s;
           transition: ease-out 0.6s;
       }
       
       .buttons:hover{
           transform: scale(1.2);
           box-shadow: inset 0 0 0 50px #007bff98;
       }

       .ADFII_movile{
        display: none;
       }
       .ADFII{
        width: 100%;
        height: 100%;
       }

         .container_fadf{
          display: grid;
          grid-template-areas:
          "description img";
          grid-template-columns: 0.5fr 1fr;
          grid-gap: 5px;
          margin-top: 150px;
          justify-content: center;
          align-items: center;
         } 
         
       .description_footeradf{
             font-size: 28px;
             color:#fffffff8;
             margin-top: 25px;
             margin-right: 25%;
             text-align: center;
             justify-content: center;
         }
      
       .footer_iconadf{
         display: inline-flex;
         margin-bottom: 15px;
         margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
         width: 100px;
       }
    
       .footer_1adf{
         width: 60%;
       }
    
       .footeradf{
         background-color: #02316d;
       }
       
       .footer_textadf{
         text-decoration: none;
         color: #fffdfd;
         margin-left: -55px;
       }

    .plano_container_barrios{
        width: 100%;
        height: 100%;
        border: none;
        margin-top: -18%;
      }
      
      .mobile{
        display: none;
      }
       .description{
        line-height: 1.7;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: left;
        margin-left: 25px;
       }      
          .container_cruce{
          display:grid ;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          width:100%; 
          max-width: 1200px;
          margin-left: 65px;
          overflow: hidden;
          padding:var(--padding-container);
          margin-bottom: 5%;
          gap: 3%
        }

        .listado_cruce{
            margin-top: 5px;
            width: 90%;
            height: 110vh;
           }

        .container_slidercruce{
            display: grid;
            grid-template-areas:
            "description img";
            grid-template-columns: 1fr 0.3fr;
             justify-content: center;
            align-items: center;
            margin-left: 50px;
            margin-right: -25px;
            margin-top: -15px;
        }
        .img_cruce{ 
            width: 120vh;
            height: 80vh;
        }

        .listado_crucecomer{
          margin-top: 5px;
          width: 100%;
          height: 80vh;
         }

      .container_slidercrucecomer{
          display: grid;
          grid-template-areas:
          "description img";
          grid-template-columns: 1fr 0.3fr;
           justify-content: center;
          align-items: center;
          margin-left: 50px;
          margin-right: -25px;
          margin-top: -15px;
      }
      .img_crucecomer{ 
          width: 120vh;
          height: 80vh;
      }   
     
        .container_sakura{
          width:100%; 
          max-width: 1200px;
          margin-left: 65px;
          overflow: hidden;
          padding:var(--padding-container);
          margin-bottom: 5%;
          gap: 3%;
          }
        .container_pic{
          display:grid ;
          grid-template-columns: 1fr 1fr;
          align-items: center;
      }

        .valores_mobile{
          display: none;
        }

        .listado_sakura{
            margin-top: 5px;
            width: 100%;
            height: 140vh;
            margin-left: 15px;
           }

        .container_slidersakura{
            display: grid;
            grid-template-areas:
            "description img";
            grid-template-columns: 2fr 0.5fr;
           justify-content: center;
            align-items: center;
        }
        .img_sakura{ 
            width: 100vh;
            height: 90%;
            margin: 0;
            padding: 0;
        }
            .container_sm{
          width:100%; 
          max-width: 1200px;
          margin-left: 65px;
          overflow: hidden;
          padding:var(--padding-container);
          margin-bottom: 5%;
          gap: 3%;
          display:grid ;
          grid-template-columns: 1fr 1fr;
          align-items: center;
        }

        .listado_sm{
            margin-top: 5px;
            width: 90%;
            height: 80vh;
           }

        .container_slidersm{
            display: grid;
            grid-template-areas:
            "description img";
            grid-template-columns: 1fr 0.3fr;
             justify-content: center;
            align-items: center;
            margin-left: 50px;
            margin-right: -25px;
            margin-top: -15px;
        }
        .img_sm{ 
            width: 120vh;
            height: 80vh;
        }

      }

  
  